<div *ngIf="!loginSuccessful">
  <app-login-page></app-login-page>
</div>

<div *ngIf="displayMenuItem"></div>

<div *ngIf="loginSuccessful">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="/">Home</a></span>
      </button>

      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="/comp-I">Component One</a></span>
      </button>

      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="/comp-II">Component Two</a></span>
      </button>

      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="/comp-III">Component Three</a></span>
      </button>

      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="/comp-IV">Component Four</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="/comp-parent">Component Parent</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span><a routerLink="/comp-child">Component Child</a></span>
      </button>
    </mat-menu>

    <router-outlet></router-outlet>
  </div>
