<div class="container">
  <img class="item" routerLink="/home" src="assets/images/home.png">
  <img class="item" routerLink="/comp-I" src="assets/images/page1.png">
  <img class="item" routerLink="/comp-II" src="assets/images/page2.png">
  <img class="item" routerLink="/comp-III" src="assets/images/page3.png">
  <img class="item" routerLink="/comp-IV" src="assets/images/page4.png">
  <img class="item" routerLink="/comp-parent" src="assets/images/P.png">
  <img class="item" routerLink="/comp-child" src="assets/images/C.png">
  <img class="item" routerLink="/mural" src="assets/images/mural.png">
</div>
